@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> MereNote</h1>
    <p class="lead">The most awesome basic note-taking website in the world.</p>
    <p><a href="http://www.graberpost.com" class="btn btn-primary btn-lg">My Company</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Me = Matt</h2>
        <p>
            And I learned how to do this at Eleven Fifty Academy.
        </p>
        <p><a class="btn btn-default" href="http://www.elevenfifty.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I Used Bootstrap</h2>
        <p>Build responsible websites so easily, it's stupid.</p>
        <p><a class="btn btn-default" href="http://www.getbootstrap.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Eventually, I'll host this in Azure. Or maybe I simply haven't updated the text here yet.</p>
        <p><a class="btn btn-default" href="http://microsoft.com/azure">Learn more &raquo;</a></p>
    </div>
</div>