<style>
    h1 {
        font-size: 28px;
        color: red;
        text-shadow: 2px 2px #cccccc;
        text-decoration: underline;
    }
</style>

<h1>Meredith</h1>
@{ 
    List <string> fizzbuzz = new List<string>();
}

@{ 
    for (int i = 1; i <= 100; i++)
    {
        if (i % 15 == 0)
        {
            fizzbuzz.Add(i.ToString());
        }
        else if (i % 5 == 0)
        {
            fizzbuzz.Add(i.ToString());
        }
        else if (i % 3 == 0)
        {
            fizzbuzz.Add(i.ToString());
        }
        else
        {
            fizzbuzz.Add(i.ToString());
        }


        foreach (var in fizzbuzz){
        {

        }

    }

